@using HealthHub1.Services
@model IEnumerable<Patient>
@inject BedService bedService

@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="description" content="Explore a wide range of board games for all ages.">
	<meta name="keywords" content="board games, strategy games, family games, tabletop games, board games online, buy board games">
	<meta name="author" content="PuzzlePlaza Company">
	<link rel="icon" type="image/png" href="Media/images/logo.png">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>HealthHub</title>
	<link rel="stylesheet" href="../CSS/style.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<div id="header_div">
		<div class="welcoming">
			<img src="Media/images/logo.png" alt="PuzzlePlazaLogo" class="logo" />
			<p id="header">Welcome, NAME!</p>
		</div>

		<div id="user_info">
			<div class="time">
				<div>
					Date: @DateTime.Now.ToString("dd/MM/yyyy")
				</div>
				<div>
					Time: @DateTime.Now.ToString("HH:mm")
				</div>
			</div>

			<a class="user_div" id="hover" href="#">
				<img src="Media/images/user.png" class="icons" id="userIcon" alt="user" />
				<span class="userSpan"> Account </span>
			</a>
		</div>
	</div>

	<div class="divider"></div>

	<div id="sub_header_div">
		<div id="widget">
			<a class="widgets" href="HTML/BedTracking.php">Real-Time Bed Tracking</a>

			<a class="widgets" href="HTML/Registration.php">Registration</a>

			<a class="widgets" href="HTML/discharge.php">Discharging</a>
		</div>
	</div>

	<main>

		<div class="patients-container">
			<p class="patients-head">Registered Patients</p>
			<input type="text" class="search" placeholder="Filter" />
			<div class="table-container">
				<table class="patient-table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Patient Name</th>
							<th>Patient Number</th>
							<th>Admission Date</th>
							<th>Patient Date of Birth</th>
							<th>Patient Bed</th>
							<th>More Details</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							if (item.Status == "Active")
							{

								<tr>
									<td>@item.PatientId</td>
									<td>@item.FirstName @item.LastName</td>
									<td>@item.ContactNumber</td>
									<td>@item.AdmissionDate</td>
									<td>@item.DateOfBirth</td>
									<td>@item.Bed.BedNumber</td>
									<td><a class="details-btn" asp-controller="Home" asp-action="PatientInfo" asp-route-id="@item.PatientId">More Details</a></td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
		</div>

		<p class="productsHead">Metrics</p>

		<div id="services">
			<div id="delivery">
				<div id="services">
					<div id="delivery">
						<img src="Media/images/ICU.png" class="statistics" />
						<p class="servicesDetailsHeadline" style="white-space: nowrap">
							ICU occupancy
						</p>
						<p class="servicesDetailsInfo">
							@await bedService.GenerateBedOccupancyRate("ICU")%
						</p>
					</div>
					<div id="credit_card">
						<img src="Media/images/GW.png" class="statistics" />
						<p class="servicesDetailsHeadline">General Ward Occupancy</p>
						<p class="servicesDetailsInfo">
							@await bedService.GenerateBedOccupancyRate("General")%
						</p>
					</div>
					<div id="comments">
						<img src="Media/images/EMG.png" class="statistics" />
						<p class="servicesDetailsHeadline">Emergency Occupancy</p>
						<p class="servicesDetailsInfo">
							@await bedService.GenerateBedOccupancyRate("Emergency")%
						</p>
					</div>
				</div>


				<button onclick="topFunction()" id="myBtn">
					<i class="fa fa-arrow-up fa-2x" id="arrowIcon" aria-hidden="true"></i>
				</button>
	</main>

	<footer id="footer">
		<div id="main_footer">
			<div class="footer_details_body">
				<p class="footer_head">PuzzlePlaza</p>
				<a class="footer_body">Main Page</a>
				<a class="footer_body">Cart</a>
				<a class="footer_body">Products</a>
			</div>
			<div class="footer_details_body">
				<p class="footer_head">Contact Us</p>
				<p class="footer_body">Email: ######.###</p>
				<p class="footer_body">Customer Service: +#########</p>

			</div>

			<div class="footer_details_body">
				<p class="footer_head">Follow Us</p>
				<img src=".//Media/images/SocialMedia.png">
			</div>
		</div>

		<div id="company">&copy; 2024 PalPlayHeritage</div>
	</footer>
</body>

<script src="JS/scroll.js">

</script>

<script src="JS/productPage.js">

</script>
<script src="JS/logout.js"></script>

</html>