@using HealthHub1.Services
@model IEnumerable<HealthHub1.Models.Bed>
@inject HealthHub1.Services.BedService BedService
@inject HealthHub1.Services.PatientService PatientService

@{
	ViewData["Title"] = "Real-Time Bed Tracking";
        Layout = "~/Views/Shared/_Layout.cshtml";
    var availableBeds = await BedService.GetAvailableBeds();
    var occupiedBeds = await BedService.GetOccupiedBeds();
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="description" content="Explore a wide range of board games for all ages.">
	<meta name="keywords" content="board games, strategy games, family games, tabletop games, board games online, buy board games">
	<meta name="author" content="PuzzlePlaza Company">
	<link rel="icon" type="image/png" href="../Media/images/logo.png">
	<link rel="stylesheet" href="../CSS/BedTracking.css" />
    <link rel="stylesheet" href="../CSS/style.css" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

	<title>Bed Tracking</title>
</head>

<body>
	<div id="header-container"></div>

	<main>
        <div class="head">Real-Time Bed Tracking</div>
        <div class="bed-container">
            @foreach (var bed in availableBeds)
            {
                var patient = bed.Patient;
                <div class="bed-card available">
                    <div class="bed-number">
                        <p><strong>@bed.BedNumber</strong></p>
                    </div>
                    <div class="separator"></div>
                    <div class="bed-info">
                        <p class="stat">Status: <span class="status">Available</span></p>
                        <p class="details">Location: @bed.Category</p>
                        <p class="details">Name: -</p>
                    </div>
                </div>
            }

            @foreach (var bed in occupiedBeds)
            {
                var patient = bed.Patient;
                <div class="bed-card occupied">
                    <div class="bed-number">
                        <p><strong>@bed.BedNumber</strong></p>
                    </div>
                    <div class="separator"></div>
                    <div class="bed-info">
                        <p class="stat">Status: <span class="status">Occupied</span></p>
                        <p class="details">Location: @bed.Category</p>
                        <p class="details">Name: @(patient != null ? $"{patient.FirstName} {patient.LastName}" : "-")</p>
                    </div>
                </div>
            }
        </div>

	</main>

	<div id="footer-container"></div>

</body>

<script src="../JS/scripts.js"></script>
<script src="../JS/scroll.js"></script>
<script src="../JS/logout.js"></script>

</html>